services:
  pgdatabase:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - pgdatabase_data:/var/lib/postgresql

      # The init script will be executed when the database is first run
      # - ${PWD}/init.sql:/docker-entrypoint-initdb.d/init.sql

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - 15433:80
    env_file:
      - .env
    depends_on:
      - pgdatabase
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgdatabase_data:
  pgadmin_data:
